/* Сброс */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: url("picture/background.jpg") center / cover no-repeat;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

/* Loading */
.loading {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 999;
  transition: opacity 0.5s;
}

.loading.hide {
  opacity: 0;
  pointer-events: none;
}

.logo-img {
  width: 700px;
}

.loader {
  width: 40px;
  height: 40px;
  border: 3px solid rgba(255,255,255,0.2);
  border-top: 3px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* App */
.hidden {
  display: none;
}

.app {
  position: fixed;
  inset: 0;
}

.scene {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.counter {
  position: absolute;
  top: 40px;
  font-size: 42px;
  color: #ffdca8;
}

.planet-button {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  animation: pulse 3s infinite;
}

.planet-button img {
  width: 230px;
  height: auto;
  display: block;
}

@keyframes pulse {
  50% {
    transform: scale(1.05);
  }
}
.planet-button.hit {
  animation: hit 0.15s ease;
}

@keyframes hit {
  0%   { transform: scale(1); }
  50%  { transform: scale(0.9); }
  100% { transform: scale(1); }
}

